<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container mt-5 pl-5">
                <h2 class="text-center">Create New Admin Account</h2>
                <form action="/admin/signup" method="POST">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter name" required>

                    </div>

                    <div class="form-group">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" required>

                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" pattern=".{8,}" title="Must contain at least 8 or more characters" required>
                    </div>
                  
                    <button type="submit" class="btn btn-primary float-right">signup</button>
                </form>

            </div>
        </div>
    </div>
</div>