<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" style="font-family:'Times New Roman', Times, serif; color:white;" href="/"><span style="font-family: Georgia, 'Times New Roman', Times, serif;"> P</span>etroll</a>
        <button class="seller">
            <a class="sell" href="/seller" style="text-decoration: none; color:rgb(224, 42, 42)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-plus-lg"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                </svg>Sell
            </a>
        </button>
        <button style="background-color: blanchedalmond;" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: white;">All Pets <span
                            class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a id="main" class="nav-link" href="/dashboard" style="color: white;">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a id="main" class="nav-link" href="/favourite" style="color: white;">Favourites<span
                            class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a id="main" class="nav-link" href="/faqs" style="color: white;">FAQs<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="dropdown">
                <button style="border-radius: 10px;" class="dropdown-toggle mr-3" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                    <span style="color: rgb(224, 32, 32);">{{user.name}}</span>
                    {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-person"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    </svg>
                    {{/if}}

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if user}}
                    <a class="dropdown-item" href="/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/login">Login</a>
                    {{/if}}


                </div>
            </div>
        </div>
    </nav>
</header>
<!-- <script>
    function getFav() {
        $.ajax({
            url: '/addToFav',
            method: 'get',
            success: (response) => {
                var userId = response.user
                if (response.user) {
                    var fav = JSON.parse(localStorage.getItem(userId))
                    var favitems = document.getElementById(favitems)
                    fav.forEach((item, index) => {
                        favitems.innerHTML += item
                    })
                    location.href = '/favourate'

                } else {
                    location.href = '/login'
                }
            }
        })
    }
</script> -->

<style>
    .cat {
        
    }

    .navbar-brand {
        font-weight: 700;
        font-size: 42px;
        color: white;
        margin-right: 30px;

    }

    .nav-link {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: auto;
    }



    .seller {

        border-color: red;
        border-radius: 40px;
        width: 90px;
        height: 40px;



    }

    .sell {
        text-decoration: none;
        color: red;
        font-size: 20px;
        text-align: center;
    }

    .navbar {
        background-color: #362691;

    }
</style>