<section>
  <div class="container mt-4">
    <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">FAQs</h1>
    
    <div class="container p-4">
      <a href="#SellerContact">How can I contact a seller?</a><br>
      <a href="#PayAdvance">How can I pay advance to a seller?</a><br>
      <a href="#MakeSell">How can I make sell ad?</a><br>
      <a href="#HowMany">How many ads can I post in a month?</a><br>
      <a href="#SeeAds">Where can see the ads that I posted?</a><br>
      <a href="#Edit/Delete">How to edit/delete an ad?</a><br>
      <a href="#ShareAds">Can I share my ads with my friends?</a><br>
      <a href="#ChangeNo">How do I change my phone or whatsapp number?</a><br>
      <a href="#ChangePass">How do I change password for my account?</a><br>
      <a href="#AccBanned">Why is my account banned?</a><br>
      <a href="#PostingRules">Posting rules</a><br>
    </div>
    <div>
      <h5 id="SellerContact" style="color: red;"> How can I contact a seller?</h5>
      <p>
      firstly you will not able to reach a seller unless you are logged into pet-roll.
      you can contact the seller as : <br>
      *click on 'view more' button accordance to the corresponding. <br>
      *Tap on 'contactnow' button. <br>
      *you can start a chat or make a call the seller. <br>
      </p>
    </div>
    <div>
      <h5 id="PayAdvance" style="color: red;"> How can I pay advance to a seller?</h5>
      We would strongly recommend not to pay in advance to a seller.it is not under our contol,you would be the only
      responsible.
    </div>
    <div>
      <h5 id="MakeSell" style="color: red;"> How can I make sell ad?</h5>
      <p>
      *Login to Pet-roll. <br>
      *Tap on the 'sell' button on the home page. <br>
      *Enter genuine details both you and pet. <br>
      *Insert images,you can't take a real time photo. <br>
      *enter 'submit' button. <br>
      </p>
    </div>
    <div>
      <h5 id="HowMany" style="color: red;"> How many ads can I post in a month? </h5>
      There is no limit,you can make as much you needed.
    </div>
    <div>
      <h5 id="SeeAds" style="color: red;"> Where can see the ads that I posted? </h5>
      You can see it by clicking on 'Dashboard'.
    </div>
    <div>
      <h5 id="Edit/Delete" style="color: red;"> How to edit/delete an ad?</h5>
      <p>
      *Enter to dashboard by clicking on 'Dashboard'. <br>
      *tap on Edit/Delete of the corresponding. <br>
      </p>
    </div>
    <div>
      <h5 id="ShareAds" style="color: red;"> Can I share my ads with my friends?</h5>
      <p>
      *you can share it by clicking on 'View more'. <br>
      *Tap on the share icon. <br>
      </p>

    </div>
    <div>
      <h5 id="ChangeNo" style="color: red;">How do I change my phone or whatsapp number?</h5>
      <p>
      *Go to dashboard. <br>
      *Click on Edit button of the corresponding. <br>
      *Change your mobile number. <br>
      *Submit the form. <br>
      </p>
    </div>
    <div>
      <h5 id="ChangePass" style="color: red;">How do I change password for my account?</h5>
      <p>
      *Click on 'forget password?' on Login page. <br>
      *Enter your registered email id to set a new password. <br>
      *Clik on 'Send One Time Link' button. <br>
      *Check your inbox, A one time link(OTL) will be sent to your email. (Valid for 10 minutes). <br>
      *Click on the link to enter new password. <br>
      </p>
    </div>
    <div>
      
      <h5 id="AccBanned" style="color: red;">Why is my account banned?</h5>
      <p>
      *If you are receiving 'Your account is Banned' when login/signup to Pet-roll. This means you have breached one of
      our posting rules or other rules. <br>
      *Issues from other users may be banned your account. <br>
      </p>
    </div>
    <div>
      <h5 id="PostingRules" style="color: red;">Posting rules:</h5>
      <p>
      *Post only pet related contents. <br>
      *Post only genune content and photos. <br>
      </p>
    </div>
  
  </div>
</section>