<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="container mt-5 pl-2">
            <h2 class="text-center">Reset Password</h2>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your Email Address" required>
                </div>
                <button type="submit" class="btn btn-primary float-right">Send One Time Link</button>
            </form>
            
        </div>
    </div>
</div>

