<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="container mt-3 pl-2">
            <h2 class="text-center">Password Reset Link has been sent...</h2>           
        </div>
    </div>
</div>

